/* New FSJS project 2 - List Pagination and Filter - v2 - Data version */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', Helvetica, sans-serif;
	background-color: rgb(229, 238, 250);
  transition: 0.4s;
  position: relative;

  margin: 0px;
  border: 2px solid red;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  max-width: 1024px;
  margin: auto;
  width: 95%;
}



header {
  text-align: center;
	display: flex;
  flex-flow: column;
  justify-content: center;
	padding: 2em 0;
}

header h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  color: #4a5568;
  letter-spacing: 2px;
	margin-bottom: 25px;
}



.student-search {
  display: flex;
}

.student-search input {
  width: 100%;
  border-radius: 4px 0 0 4px;
  border: 1px solid rgb(30, 144, 255);
  padding: 10px 16px;
  font-size: 14px;
}

.student-search input::placeholder {
  color: #929b9e;
}

.student-search button {
  cursor: pointer;
  width: 55px;
  border-radius: 0 4px 4px 0;
  border: 1px solid #1e90ff;
  border-left: none;
  padding: 0px 5px;
  font-size: 14px;
  background-color: #1e90ff;
  color: #fff;
}

.student-search button img {
  width: 25px;
}



.student-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 2em;
}

.student-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5em;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: box-shadow .3s ease;
  transition: box-shadow .3s ease;
}

.avatar {
  margin: 0 auto;
  border-radius: 50%;
  background-color: white;
  background-blend-mode: multiply, luminosity;
  width: 90px;
	height: 90px;
	margin: auto auto 15px;
}

.student-details::before {
	content: '';
	position: absolute;
	width: 90px;
	height: 90px;
	background: rgba(30, 144, 255, 0.25);
	border-radius: 50%;
}

.student-item h3 {
	font-weight: 600;
	font-size: 1.2rem;
  margin-bottom: 0.45em;
  color: #1e90ff;
}

.student-item .email {
	font-weight: 600;
  color: #6d778a;
  font-size: 14px;
  letter-spacing: .5px;
}

.date {
	display: block;
  font-size: 14px;
  color: #6a7679;
	font-weight: 400;
	width: 100%;
  padding-top: 1.1em;
  border-top: solid 1px #dcdcdc;
  margin-top: 1.1em;
}



.pagination {
  margin: 30px 0 60px;
  text-align: center;
}

.pagination li {
  display: inline;
  padding: 0 3px;
}

.pagination li button {
  font-size: 1em;
  cursor: pointer;
	outline: none;
	padding: 0.5em 0.85em;
	background: #fff;
  border: none;
  border-radius: 3px;
  text-decoration: none;
	color: #1e90ff;
	box-shadow: 0 1px 8px 0 rgba(22, 42, 90, 0.05);
	transition: 0.4s;
}

.pagination li button.active, .pagination li button:hover {
  background-color: #1e90ff;
  color: #fff;
}



.no-results {
	font-family: 'Nunito', sans-serif;
	display: block;
	font-size: 1.5rem;
	color: #6d778a;
	width: 500px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.config-buttons{
  margin-top:15px;
}

.edit,.remove{
  background: rgb(140, 202, 247);
  color:white;
  padding:10px;
}



@media screen and (min-width: 700px) {

	.page {
		width: 70%;
	}
	
	header {
		flex-flow: row;
		align-items: center;
		padding: 3em 0;
	}
	
	header h2 {
    margin-right: auto;
		margin-bottom: 0;
	}

	.student-item {
		border-radius: 5px;
		box-shadow: 0 4px 16px 0 rgba(22, 42, 90, 0.09);
	}
}

.modal{
  display: flex;

  flex-direction: column;

  /* align-items: center;
  justify-content: center; */
  position: absolute;

  width: 100%;
  height: 100%;
  top:0;
  background-color: rgba(169, 169, 169, 0.47);
  z-index: 999;
  padding-top:200px;

}

.card-modal{

  position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 400px;
   margin: 0px auto;
}


.icon-left{
  position:absolute;
  top:50%;
  left:5%;
}
.icon-right{

  position: absolute;

  top:50%;

  right: 5%;

}

.icon-close{
  position:absolute;
  top:1%;
  right:1%;
}

.card-details{
  margin:40px;
  line-height:30px;
}

.student-image{
  border-radius: 100px;
}





.hide{


  display: none;
}

.card-modal{
  background-color:white;
  padding:20px;
}