body{
    box-sizing: border-box;
}


.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    border:1px solid green;
    gap:20px;
    
}
.grid-item{
    border: 1px solid rgb(231, 231, 231);
    display:flex;
    flex-direction: row;
    height:440px;
    width:100%;
    
    
}


img{height:100%;
}

.product_details{
    
    padding:20px 34px 20px 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex:2 1;
}

.product_details_title{
    font-size:2rem;
    font-weight:800
}

.product_details_description{
    font-size:1.1rem;

}

.product_details_action_bar{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.product_details_pricing{
    border-top: 1px solid #ededed;
    color: #132322;
    font-family: "DM Mono",sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    display: inline-block;
    padding-top: 5px;
}

button{
    border: 1px solid #132322;
    color: #132322;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    padding: 6px 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-family: "DM Sans",sans-serif;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
}

.form{
    border: 1px solid red;
    display:flex;
    flex-direction: column;
    padding:20px;
    width:450px;
    gap:20px;
}

input{
    font-size:1.2rem;
    padding:5px;
    border-radius: 3px;
}

@media (min-width:980px)  {
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        gap:20px;
        height: 100vh;}

        .grid-item{
            border: 1px solid rgb(231, 231, 231);
            display:flex;
            flex-direction: row;
            height:360px;
            width:100%;
            
        }
    
}


@media (min-width:1340px)  {
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border:1px solid green;
        gap:20px;
        height: 100vh;}

        .grid-item{
            border: 1px solid rgb(231, 231, 231);
            display:flex;
            flex-direction: row;
            height:380px;
            width:100%;
            
        }
    
}

.atc-product-item{
    min-height:200px;
    border:2px red solid;
    width:100%;
    padding:2%;
}
.atc-product-list{
    width:100%;
}
.atc-items{
    width: 6%;
}
.atc-items>input{
    width:50%
}
.atc-product-item{
    display: flex;
    flex-direction: row;
}
.atc-item-details{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.atc-item-buttons{
    display: flex;
    align-items: end;}
.atc-item-title{
    font-size:2rem;
}
.atc-item-description{
    font-size:1.2rem;
}